
	<header class="header">
		<h1>The Form!</h1>
	</header>

	<section class="main the">
  <form #form="ngForm" (ngSubmit)="save()">
		<ul class="todo-list">
			<li>
				<input [(ngModel)]="the.firstname" name="firstname" type="text" placeholder="Your firstname" />
			</li>
			<li>
				<input [(ngModel)]="the.lastname" name="lastname" type="text" placeholder="Your lastname" />
			</li>
			<li>
				<input [(ngModel)]="the.account" name="account" type="text" placeholder="Your Account" />
			</li>
			<li>
				<input [(ngModel)]="the.email" name="email" type="email" placeholder="Your email" />
			</li>
			</ul>
				<button type="button" (click)="clear()">Clear</button>
        <button type="button" (click)="random()">Random</button>
        <button type="submit">Submit</button>
				
	</form>





</section>